@model Elysium.Server.Presentation.Models.Conditions.Script

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Script</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuccessCodes" class="control-label"></label>
                <input asp-for="SuccessCodes" class="form-control" />
                <span asp-validation-for="SuccessCodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FailureCodes" class="control-label"></label>
                <input asp-for="FailureCodes" class="form-control" />
                <span asp-validation-for="FailureCodes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Invert" /> @Html.DisplayNameFor(model => model.Invert)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumVersion" class="control-label"></label>
                <input asp-for="MinimumVersion" class="form-control" />
                <span asp-validation-for="MinimumVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hypothesis" class="control-label"></label>
                <input asp-for="Hypothesis" class="form-control" />
                <span asp-validation-for="Hypothesis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
