@import url(Elysium.Reset.css);
@import url(Elysium.Navigation.css);
@import url(Elysium.Guide.css);
@import url(Elysium.Main.css);

.left-content {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.center-content {
  right: 0;
  width: 100%;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: flex-start;
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.side-padding {
  --side-padding: 15px;
  
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

elysium-app {
  display: block;
  min-height: 100vmin;
  
  --primary-background-primary: var(--dark-theme-background-primary);
  --primary-background-secondary: var(--dark-theme-background-secondary);
  --primary-border-color: var(--dark-theme-border-primary);
  --primary-border-color-secondary: var(--dark-theme-border-secondary);
  --primary-text-color: var(--dark-theme-text-color);
  --primary-text-highlight: var(--dark-theme-text-highlight);
  --primary-highlight-color: var(--dark-theme-highlight-color);
  --primary-hover-opacity: var(--dark-theme-hover-opacity);
  --primary-active-opacity: var(--dark-theme-active-opacity);
  
  --light-theme-background-primary: #ddd;
  --light-theme-background-secondary: #fff;
  --light-theme-background-tertiary: #eee;
  --light-theme-background-quaternary: #ccc;
  --light-theme-border-primary: #ccc;
  --light-theme-border-secondary: #ddd;
  --light-theme-text-color: #212121;
  --light-theme-text-highlight: #000;
  --light-theme-highlight-color: 0, 0, 0;
  --light-theme-hover-opacity: 0.1;
  --light-theme-active-opacity: 0.3;
  --dark-theme-background-primary: #2b2b2b;
  --dark-theme-background-secondary: #222;
  --dark-theme-background-tertiary: #262626;
  --dark-theme-background-quaternary: #303030;
  --dark-theme-border-primary: #1c1c1c;
  --dark-theme-border-secondary: #3b3b3b;
  --dark-theme-text-color: #e6e1e3;
  --dark-theme-text-highlight: #e2e0fb;
  --dark-theme-highlight-color: 255, 255, 255;
  --dark-theme-hover-opacity: 0.08;
  --dark-theme-active-opacity: 0.15;
  
  --nav-bar-height: 64px;
  --content-guide-width: var(--nav-bar-height);
  
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
  padding-top: var(--nav-bar-height);
  padding-left: var(--content-guide-width);
  background-color: var(--primary-background-primary);
}

[role="main"] {
  border-style: solid;
  border-width: 1px 0 0 1px;
  border-color: var(--primary-border-color);
  background-color: var(--primary-background-secondary);
  min-height: calc(100vh - var(--nav-bar-height));
}