@import url(Elysium.Reset.css);
@import url(Elysium.Navigation.css);
@import url(Elysium.Guide.css);
@import url(Elysium.Main.css);

.left-content {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.center-content {
  right: 0;
  width: 100%;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: flex-start;
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.side-padding {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

tab {
  display: block;
}

elysium-app {
  display: block;
  min-height: 100vmin;
  
  --primary-accent-color: var(--dark-theme-accent-color);
  --primary-background-primary: var(--dark-theme-background-primary);
  --primary-background-secondary: var(--dark-theme-background-secondary);
  --primary-background-tertiary: var(--dark-theme-background-tertiary);
  --primary-background-quaternary: var(--dark-theme-background-quaternary);
  --primary-border-color: var(--dark-theme-border-primary);
  --primary-border-color-secondary: var(--dark-theme-border-secondary);
  --primary-border-color-tertiary: var(--dark-theme-border-tertiary);
  --primary-text-color: var(--dark-theme-text-color);
  --primary-text-highlight: var(--dark-theme-text-highlight);
  --primary-text-inactive: var(--dark-theme-text-inactive);
  --primary-badge-color: var(--dark-theme-badge-color);
  --primary-highlight-color: var(--dark-theme-highlight-color);
  --primary-hover-opacity: var(--dark-theme-hover-opacity);
  --primary-active-opacity: var(--dark-theme-active-opacity);
  
  --light-theme-accent-color: blue;
  --light-theme-background-primary: #ddd;
  --light-theme-background-secondary: #fff;
  --light-theme-background-tertiary: #eee;
  --light-theme-background-quaternary: #ccc;
  --light-theme-border-primary: #ccc;
  --light-theme-border-secondary: #ddd;
  --light-theme-text-color: #212121;
  --light-theme-text-highlight: #000;
  --light-theme-text-inactive: #444;
  --light-theme-badge-color: #a83128;
  --light-theme-highlight-color: 0, 0, 0;
  --light-theme-hover-opacity: 0.1;
  --light-theme-active-opacity: 0.3;
  
  --dark-theme-accent-color: #ae9fdb;
  --dark-theme-background-primary: #2b2b2b;
  --dark-theme-background-secondary: #222;
  --dark-theme-background-tertiary: #292929;
  --dark-theme-background-quaternary: #303030;
  --dark-theme-border-primary: #1c1c1c;
  --dark-theme-border-secondary: #292929;
  --dark-theme-border-tertiary: #797979;
  --dark-theme-text-color: #e6e1e3;
  --dark-theme-text-highlight: #e2e0fb;
  --dark-theme-text-inactive: #9aa0a6;
  --dark-theme-badge-color: #553f5d;
  --dark-theme-highlight-color: 255, 255, 255;
  --dark-theme-hover-opacity: 0.08;
  --dark-theme-active-opacity: 0.15;

  --side-padding: 15px;
  --nav-bar-height: 64px;
  --content-guide-width: var(--nav-bar-height);
  --transition-delay: 0.2s;
  --transition-effect: cubic-bezier(0.2, 0, 0, 1);
  
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
  padding-top: var(--nav-bar-height);
  padding-left: var(--content-guide-width);
  background-color: var(--primary-background-primary);
}

.checkbox {
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox:has([type="checkbox"]) .material-symbols-rounded {
  position: relative;
  font-size: 20px;
  line-height: inherit;
  text-align: center;
  font-variation-settings: 'FILL' 0, 'wght' 550, 'GRAD' 0, 'opsz' 12;
  transition: font-variation-settings var(--transition-delay) var(--transition-effect),
              transform calc(var(--transition-delay) / 2) var(--transition-effect);
}

.checkbox:has([type="checkbox"]) .material-symbols-rounded::before {
  --diameter: 48px;
  
  content: "";
  inset: -9px -14px;
  display: block;
  position: absolute;
  border-radius: 50%;
  width: var(--diameter);
  height: var(--diameter);
  outline: 1px solid transparent;
  background-color: transparent;
  transition: background-color var(--transition-delay) var(--transition-effect), 
              outline-color var(--transition-delay) var(--transition-effect);
}

.checkbox:has([type="checkbox"]).partial .material-symbols-rounded .unchecked,
.checkbox:not(.partial) .material-symbols-rounded .partial {
  display: none;
}

.checkbox:has([type="checkbox"]:not(:checked)).partial .material-symbols-rounded .partial {
  display: block;
}

.checkbox:has([type="checkbox"]):active .material-symbols-rounded {
  transform: scale(0.95);
}

.checkbox:has([type="checkbox"]):active .material-symbols-rounded::before {
  outline-color: white;
}

.checkbox:has([type="checkbox"]:checked) .material-symbols-rounded,
.checkbox:has([type="checkbox"]).partial .material-symbols-rounded {
  color: var(--primary-accent-color);
  font-variation-settings: 'FILL' 1, 'wght' 550, 'GRAD' 0, 'opsz' 20;
}

.checkbox:has([type="checkbox"]) .material-symbols-rounded .checked {
  display: none;
}

.checkbox:has([type="checkbox"]) .material-symbols-rounded .unchecked {
  display: block;
}

.checkbox:not(.partial):has([type="checkbox"]:checked) .material-symbols-rounded .checked {
  display: block;
}

.checkbox:has([type="checkbox"]:checked) .material-symbols-rounded .unchecked {
  display: none;
}

.checkbox:has([type="checkbox"]):hover .material-symbols-rounded::before {
  background-color: rgba(var(--primary-highlight-color), var(--primary-hover-opacity));
}

.combo-calendar {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: 10px;
  background-color: var(--primary-background-secondary);
  border: 1px solid var(--primary-border-color-tertiary);
}

.module-calendar {
  display: flex;
  padding: 20px;
}

.module-calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: fit-content;
  gap: 5px;
}

.module-calendar .calendar-module-day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.module-calendar .calendar-module-day.active {
  background-color: var(--primary-accent-color);
}

.module-calendar .calendar-module-day.range {
  background-color: var(--primary-background-quaternary);
}

.module-calendar .calendar-module-day.today {
  outline: 2px solid var(--primary-border-color-tertiary);
}