<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Elysium</title>
    <link rel="stylesheet" href="~/ttf/MaterialSymbols.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ttf/OpenSans.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Elysium-Shared.css" asp-append-version="true"/>
</head>
<body>
<elysium-app>
    <nav-bar id="nav-bar" slot="nav-bar" role="navigation">
        <div class="left-content">
            <span class="material-symbols-rounded" aria-hidden="true">
                api
            </span>
        </div>
        <div class="center-content">
            Center Content
        </div>
        <div class="right-content">
            Right
        </div>
    </nav-bar>
    <content-guide id="nav-guide" slot="content-guide" class="">
        <button class="section-link" asp-area="" asp-controller="Home" aria-expanded="false" aria-label="Logs" role="button" tabindex="2" onclick="alert('Packages')">
            <span class="guide-icon">
                <span class="material-symbols-outlined" aria-hidden="true">
                    account_tree
                </span>
            </span>
            <span class="guide-label">Packages</span>
        </button>
        <button class="section-link current-section" asp-area="" asp-controller="Home" aria-expanded="false" aria-label="Logs" role="button" tabindex="2" onclick="alert('Logs')">
            <span class="guide-icon">
                <span class="material-symbols-outlined" aria-hidden="true">
                    flowsheet
                </span>
            </span>
            <span class="guide-label">Logs</span>
        </button>
    </content-guide>
    <main role="main">
        @RenderBody()
    </main>
</elysium-app>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>