<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Offline Layout File</title>
    <link rel="stylesheet" href="../../wwwroot/ttf/MaterialSymbols.css" asp-append-version="true"/>
    <link rel="stylesheet" href="../../wwwroot/ttf/OpenSans.css" asp-append-version="true"/>
    <link rel="stylesheet" href="../../wwwroot/css/Elysium.Shared.css" asp-append-version="true"/>
</head>
<body>
    <elysium-app>
        <nav-bar id="nav-bar" slot="nav-bar" role="navigation">
            <div class="left-content">
                <span class="material-symbols-rounded" aria-hidden="true">
                    api
                </span>
            </div>
            <div class="center-content">
                Center
            </div>
            <div class="right-content">
                Right
            </div>
        </nav-bar>
        <content-guide id="nav-guide" slot="content-guide" class="">
            <button class="section-link" asp-area="" asp-controller="Home" aria-expanded="false" aria-label="Logs" role="button" tabindex="2" onclick="alert('Packages')">
                <span class="guide-icon">
                    <span class="material-symbols-outlined" aria-hidden="true">
                        account_tree
                    </span>
                </span>
                <span class="guide-label">Packages</span>
            </button>
            <button class="section-link current-section" asp-area="" asp-controller="Home" aria-expanded="false" aria-label="Logs" role="button" tabindex="2" onclick="alert('Logs')">
                <span class="guide-icon">
                    <span class="material-symbols-outlined" aria-hidden="true">
                        flowsheet
                    </span>
                </span>
                <span class="guide-label">Logs</span>
            </button>
        </content-guide>
        <main role="main">
            <nav role="menubar" class="side-padding">
                <h1 class="center-content">Logs History</h1>
                <div role="menu" class="right-content">
                    <button>
                        <span class="material-symbols-rounded" aria-hidden="true">
                            save
                        </span>
                    </button>
                    <button>
                        <span class="material-symbols-rounded" aria-hidden="true">
                            download
                        </span>
                    </button>
                </div>
            </nav>
            <nav role="tablist">
                <button class="tab-link active" onclick="alert('hi')">
                    <span class="tab-icon">
                        <span class="material-symbols-outlined" aria-hidden="true">
                            article_shortcut
                        </span>
                    </span>
                    <span class="tab-label">All logs</span>
                </button>
                <button class="tab-link" onclick="alert('hi')">
                    <span class="badge">24</span>
                    <span class="tab-icon">
                        <span class="material-symbols-outlined" aria-hidden="true">
                            collections_bookmark
                        </span>
                    </span>
                    <span class="tab-label">Saved</span>
                </button>
            </nav>
            <tab id="all">
                <table>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="material-symbols-rounded" aria-hidden="true">indeterminate_check_box</span>
                            </label>
                        </th>
                        <th>Log ID</th>
                        <th>Severity</th>
                        <th>Timestamp</th>
                        <th>Source</th>
                        <th>Message</th>
                    </tr>
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="material-symbols-rounded" aria-hidden="true">check_box</span>
                            </label>
                        </td>
                        <td>#000001</td>
                        <td>Verbose</td>
                        <td>2024-06-10 10:14:24 AM EDT</td>
                        <td>Core</td>
                        <td>{"someData":"placeholder","response":{"type":"error","invokedBy":"localhost:7103"}</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span class="material-symbols-rounded" aria-hidden="true">check_box_outline_blank</span>
                            </label>
                        </td>
                        <td>#000002</td>
                        <td>Error</td>
                        <td>2024-06-10 12:02:17 PM EDT</td>
                        <td>Core</td>
                        <td>{"someData":"placeholder","response":{"type":"error","invokedBy":"localhost:7103"}</td>
                    </tr>
                </table>
            </tab>
            <tab id="saved">
                Saved
            </tab>
        </main>
    </elysium-app>
</body>
</html>