module {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--foreground-color);
    box-shadow: var(--box-shadow), inset var(--box-shadow);
}

module:has(> calendar) {
    padding: 14px;
    width: fit-content;
}

module:has(> label) {
    flex-direction: row;
}

module div > div.spacer {
    flex-grow: 1;
}